* {
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  margin: 0;
  background-color: #0f0f10;
  color: #e5e5e5;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */

.sidebar {
  width: 240px;
  background-color: #161617;
  padding: 25px;
  border-right: 1px solid #2a2a2a;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.sidebar nav p {
  margin: 15px 0;
  color: #b5b5b5;
  cursor: pointer;
}

.sidebar nav p:hover,
.sidebar nav .active {
  color: #ffffff;
}

.button-menu{
  background-color: #0f0f10;
  display: none;
  width: 24px;
  height: 16px;
  border:none;
  margin-left: 10px;
}
 .button-menu span {
  background-color: #f4f4f5;
  display: block;
  height: 2px;
  margin: 4px 0;
  width: 100%;
  transition: all .3s ease;
  cursor: pointer;
 }
 .button-menu:hover{
  box-shadow: 2px 2px 10px rgb(127, 127, 129);
 }

/* Content */

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

header p {
  color: #9e9e9e;
  margin-top: 8px;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

/* Panels */

.panel {
  background-color: #161617;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #2a2a2a;
}

.panel h2 {
  margin-top: 0;
}

/* Form */

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #b5b5b5;
}

input {
  width: 100%;
  padding: 10px;
  background-color: #0f0f10;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  color: #e5e5e5;
}

input:focus {
  outline: none;
  border-color: #4f8cff;
}

/* Badges */

.badges {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

.badge.high {
  background-color: #3a1f1f;
  color: #ff6b6b;
  transition: 0.6s;
}

.badge.high:hover {
box-shadow: 3px 3px  15px rgba(250, 105, 105, 0.4);
}

.badge.medium {
  background-color: #3a321f;
  color: #ffd36b;
  transition: 0.6s;
}
.badge.medium:hover {
  box-shadow: 3px 3px  12px rgba(250, 187, 105, 0.4);
}

.badge.low {
  background-color: #1f3a2a;
  color: #6bffb0;
  transition: 0.6s;
}

.badge.low:hover{
  box-shadow: 3px 3px  15px rgba(105, 250, 153, 0.4);
}

/* Button */

button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #4f8cff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  background-color: #5a88d8;
  box-shadow: 3px 3px 10px #578bec;
}

/* Tasks */

.tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background-color: #0f0f10;
  border: 1px solid #2a2a2a;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid;
}

.card h3 {
  margin: 0;
  font-size: 16px;
}

.card p {
  margin: 5px 0;
  color: #9e9e9e;
  font-size: 14px;
}

.tag {
  display: inline-block;
  margin-top: 8px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}

/* Priority colors */

.urgent {
  border-color: #ff6b6b;
  transition: 0.5s;
}

.urgent:hover {
border-color: #ff6b6b;
box-shadow: 3px 3px  15px rgba(250, 105, 105, 0.4);
}
.urgent .tag {
  background-color: #3a1f1f;
  color: #ff6b6b;
  transition: 0.5s;
}
.urgent .tag:hover{
border-color: #ff6b6b;
box-shadow: 3px 3px  15px rgba(250, 105, 105, 0.4);
font-weight: bold;
}



.high {
  border-color: #ac763d;
  transition: 0.5s;
}

.high:hover {
border-color: #ec9940;
box-shadow: 3px 3px  12px rgba(250, 187, 105, 0.4);
}

.high .tag {
  background-color: #3a321f;
  color: #ffb86b;
  transition: 0.5s;

}
.high .tag:hover{
border-color: #ec9940;
box-shadow: 3px 3px  15px rgba(250, 187, 105, 0.4);
font-weight: bold;
}
.medium {
  border-color: #6bffb0;
  transition: 0.5s;
}
.medium:hover {
border-color: #6bffb0;
box-shadow: 3px 3px  15px rgba(105, 250, 153, 0.4);
}

.medium.tag {
  background-color: #1f3a2a;
  color: #6bffb0;
  transition: 0.5s;
}

.medium.tag:hover {
border-color: #6bffb0;
box-shadow: 3px 3px  15px rgba(105, 250, 190, 0.4);
font-weight: bold;
}


input[type="date"] {
  color-scheme: dark;
}

/* Media queries */

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 600px){
.sidebar {
  display:none;
}
.button-menu{
  display:block;
}
}
